* {
  box-sizing: border-box;
}
#search {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 12px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#listc_table, #showbag_table  {
  border-collapse: collapse;
  width: 50%;
  border: 1px solid #ddd;
  font-size: 12px;
}

#listc_table th, #listc_table td, #showbag_table th, #showbag_table td {
  text-align: center;
  padding: 12px;
  width: 30px;
}

#listc_table tr, #showbag_table tr {
  border-bottom: 1px solid #ddd;
}

#listc_table tr.header, #listc_table tr:hover, #showbag_table tr.header, #showbag_table tr:hover{
  background-color: #f1f1f1;
}